# flyctl launch added from .gitignore
# In all directories
**/.env
**/.env.example
**/.env.development
**/.vscode
**/.idea
**/.git
**/.github
**/node_modules
**/.DS_Store
**/src/.DS_Store
**/tools.go
# Deploy configurations
fly.toml
fly-staging.toml
# Client side
**/web-app
**/web
**/Android
**/landing-page
# Smart contract
**/SmartContract
